<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
                                    <! Lien vers la feuille de style>
    <link rel="stylesheet" href="~/resources/Index.css" />
    <title>HN - TP LOCAL</title>
</head>

<body>
                                    <! entête>
    <header>
        <img src="/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
    </header>

                                    <! création du menu>
    <nav>
        <ul>
            <li><a href="/Home/Index">Acceuil</a></li>
            <li><a href="/Home/Index/Formulaire">Formulaire</a></li>
        </ul>
    </nav>
                                   
    <section>

                                                <!-- affichage de la liste d'avis -->
                                                <!-- opinion représente qu'un seul avis -->
                                                <!-- opinionList est une classe qui sert à créer une liste avec les avis du fichier xml -->
        <!--Cette directive indique que la vue reçoit un modèle de type List d'objets Opinion (une liste d'avis) -->
        @model List<TPLOCAL1.Models.Opinion>

        <!-- Création d'un tableau HTML avec la classe CSS "avis-table" pour le style -->
        <table class="avis-table">
            <tr>
                <!-- Ligne d'en-tête du tableau, une cellule th qui fusionne 3 colonnes (colspan=3)
                avec une classe CSS pour appliquer un style spécifique -->
                <th colspan="3">Liste des avis</th>
            </tr>
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Avis donnés</td>
                </tr>
                <!-- Boucle qui parcourt chaque élément "item" dans la liste "Model" -->
                @foreach (TPLOCAL1.Models.Opinion item in Model)
                {
                    // Déclaration d'une variable "classeAvis" qui va contenir le nom de la classe CSS
                    // selon la valeur de la propriété OpinionGiven (si "O" alors "avis-oui" sinon "avis-non")/* si oui vert sinon rouge */
                    var classeAvis = item.OpinionGiven == "O" ? "avis-oui" : "avis-non";
                    var texte = item.OpinionGiven == "O" ? "Oui" : "Non";
                        
                         <tr>
                             <td>@item.LastName</td>
                             <td>@item.FirstName</td>
                        <!-- Affiche le texte "Oui" ou "Non" dans la cellule, et applique la classe CSS
                        "avis-oui" ou "avis-non" pour colorer le fond et styliser le texte -->
                             <td class="@classeAvis">@texte</td>
                         </tr>
                    }
            </tbody>

        </table>

    </section>

</body>
</html>