<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
                                  <! Lien vers ma feuille de style>
    <link rel="stylesheet" href="~/resources/Index.css" />
    <title>HN - TP LOCAL</title>
</head>
<body>
                                  <! entête>
    <header>
        <img src="/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Bienvenue chez TP HN</h1>
    </header>

                                   <! création du menu>
    <nav>
        <ul>
            <li><a href="/Home/Index/Formulaire">Remplir le formulaire</a></li>
            <li><a href="/Home/Index/Listedavis">Liste avis</a></li>
        </ul>
    </nav>

                                   <! ajouter un lien dans le corsp de la page>
    <section>
        <p>
            <a href="/Home/Index/Formulaire">Remplissez le formulaire </a>
        </p>
    </section>




</body>
</html>